#!/usr/bin/env python
PACKAGE = "hanp_layer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "wheter to apply this plugin or not", True)
gen.add("safety_max", double_t, 0, "radius for safety grid around human (in meters)", 1.0, 0.0, 10.0)
gen.add("human_tracking_delay", double_t, 0, "maximum time to wait before considering human_tracking is no more available (seconds)", 1.0, 0.0, 100.0)

exit(gen.generate(PACKAGE, "hanp_layer", "SafetyLayer"))
